#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: black;
    
}

body {font-family: "Lato", sans-serif}
.mySlides {display: none}
.w3-theme-maroon {color:#fff !important; background-color:#800000 !important}
.w3-theme-dark-maroon {color:#fff !important; background-color:#4d0000 !important}
.w3-theme-light-maroon {color:#000 !important; background-color:#ffb3b3 !important}
.w3-theme-gray {color:#000 !important; background-color:gray !important}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top:0;
    overflow-x: hidden;
    padding-top:20px;
    
}
.split_left {
    height: 100%;
    width: 35%;
    position: fixed;
    z-index: 1;
    top:0;
    overflow-x: hidden;
    padding-top:20px;
    left:0;
    border-color:gray;
    color:black;
    border-style:solid;
    border-width:5px;
    border-left-width:5px;
    border-right-width:0px;
    border-radius:25px;
    border-top-right-radius:0px;
    border-bottom-right-radius:0px;
}
.split_right {
    height: 100%;
    width: 65%;
    position: fixed;
    z-index: 1;
    top:0;
    overflow-x: hidden;
    padding-top:20px;
    right:0;
    border-color:gray;
    border-style:solid;
    border-width:5px;
    border-left-width:0px;
    border-right-width:5px;
    border-radius:25px;
    border-top-left-radius:0px;
    border-bottom-left-radius:0px;
}

.left {
    left:0;
    background-color: #800000;
}
.right {
    right:0;
    background-color: #4d0000;
}
.centered {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
.centered_left {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
}
.top_left {
    position:absolute;
    top: 5%;
    left: 12%;
    transform: translate(-50%, -50%);
    text-align: center;
    
}
.centered_right {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#static {
    margin: 10px;
}