/* Left Menu */

.panel-default {
    background:scroll;
    left:0;
    border-style:solid;
    border-color:black;
    border-width:5px;
    height:100%;
    width:100%;
    
}

.nav-bar {
    border: 1px gray solid;
    border-radius: 5px;
    background: white;
    color: black;
}
.nav-item {
    border: 1px gray solid;
    border-radius: 5px;
    background: white;
    color: black;
}

.api-tab {
    border: 4px gray solid;
    background-color: #834343;
    border-radius: 5px;
}

.nav-item:hover {background-color: rgb(170, 167, 167); border-radius:5px;}

