.container-black {
    background-color:#3A506B;
    padding-left: 0;
    padding-right:0;
    scroll-behavior:smooth;
}


.slide-wrapper {
    transition: height 0.5s ease-in-out;
    
    overflow:hidden;
    
}

.hidden {
    height:0;
}

.panel-small {
    padding-left: 1in;
    padding-right: 1in;
    width: 100%;
    min-height:6in;

}

.panel-medium {
    padding-left: 1in;
    padding-right: 1in;
    width: 100%;
    height: 100%;
}

.panel-large {
    padding-left: 1in;
    padding-right: 1in;
    width: 100%;
    min-height:10in;

}

.panel-1 {
    background: linear-gradient(to top, #7e57c2 0%, #6200ea 100%);
    top: 0;
    color: white;
    border-style:solid;
    border-width: 0in;
    border-bottom-width:0.05in;
    border-image: linear-gradient(to right, #00ff00, #fff44f) 1;
    text-align:center;
    padding-top: 2in;
  
}

.panel-2 {
    background: linear-gradient(315deg, #fb7ba2 0%, #fc5296 100%);
    color: white;
    border-style:solid;
    border-width: 0in;
    border-bottom-width:0.05in;
    border-image: linear-gradient(to right, #e5bdf6, #d8dede) 1;
    height: 100%;
}

.panel-3 {
    background: linear-gradient(315deg, #008080 0%, #87ceeb 100%);
    color: white;
    border-style:solid;
    border-width: 0in;
    border-bottom-width:0.05in;
    border-image: linear-gradient(to right, #ec9f05, #ff4e00) 1;

    text-align:center;
    padding-top: 2in;
    
}

.panel-4 {
    background: linear-gradient(154deg, #a00000 0%, #f71735 100%);
    color: white;
    border-style:solid;
    border-width: 0in;
    border-bottom-width:0.05in;
    border-image: linear-gradient(to right, #e5bdf6, #d8dede) 1;

}



::-webkit-scrollbar {
    width: 12px;
    overflow:scroll;
}


::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: gray;
   
}

@keyframes fadeInDown {
    0% {
       opacity: 0;
       transform: translateY(-20px);
    }
    100% {
       opacity: 1;
       transform: translateY(0);
    }
 } 

 .slider {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    overflow: hidden;
    background-color: #000; color: #FFF;
    transition: all 1s;
  }
  
  .slider.close {
    top: 100%;
    height: 0;
  }

  panel.slide-down {
      height: 200px;
      overflow:hidden;
  }

  panel.slide-down p {
      animation: 5s slide-down;
      margin-bottom: 0%;
  }

  
#Distance {
    display: none;
}

#FuelPrice {
    display: none;
}
