/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
 #map {
  height: 100%;
  width: 100%;
  
}

#map_body {
  
  height: 65%;
  width: 95%;
  padding-left: 5%;
  justify-self:center;
  border-radius: 25px;
}
/* 
 * Optional: Makes the sample page fill the window. 
 */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 62px;
  width: 30%;
  outline: none;
  font-size: 25px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}


#origin-input,
#destination-input {
  background-color: #fff;
  font-family: Roboto; 
  font-size: 30px;
  text-align:center;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
  border-radius: 5px;
}

#origin-input:focus,
#destination-input:focus {
  border-color: #4d90fe;
}

#mode-selector {
  color: #fff;
  background-color: #4d90fe;
  margin-left: 12px;
  width:auto;
  padding: 10px 11px 10px 11px;
  padding-bottom: 15px;
  justify-self:center;
  border-radius: 25px;
}

#mode-selector label {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 300;
  
}

.bar {
  width: 80%;
  height: 60px;
  padding: 0;
  background: #CBFFBE;
  color: #000000;
  display: flex;
  border-radius: 10px;
  margin: 20px 20px;
  border: 1px solid;
  justify-content: space-between;
}

.bar-header{
  padding: 10px;
  font-size: 25px;
  font-weight: bold;
  margin: auto;
}

.bar-field{
  font-size: 12px;
  margin: auto;
}

.map_container {
  display: flex;
  justify-content: space-evenly;
  margin: 10px; 
}

#big-bar-container {
  align-items: center;
}

